body{
  height: 1000px;
  background-color: #E4F9F6;
}

.SiteHeader{
  width: 100%;
  height: 50px;
  background-color: #7EC8E3;
  padding-top: 10px;
}

.Module{
  display: inline-block;
  border: solid 2px;
  background-color: #7EC8E3;
  width: 200px;
  height: 250px;
}

#SiteHeader{
  background-color: #7EC8E3;
}
